
body {
  margin: 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #1E313E;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px;
  background: #000;
  min-height: 100vh;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

.light {
  color: #E1F2FE;
}


/* Hero section */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
  gap: 64px;
  flex: 0 1 auto;
  background: linear-gradient(180deg, #031520 0%, #23597F 100%);
  color: #BEC9C7;
}

.hero-content {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  flex: 0 1 auto;
}

.hero-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
  color: #BEC9C7;
  flex: 0 1 auto;
}

.hero-h-line {
  width: 100%;
  height: 0px;
  border: 0.5px solid #BEC9C7;
  flex: 0 0;
}

.hero-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-align: left;
  color: #BEC9C7;
  flex: 0 1 auto;
}

/* Content */

.full-width-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
  gap: 64px;
  background: #FFFFFF;
  flex: 0 1 auto;
}

.page-width-content {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;
  gap: 64px;
  flex: 0 1 auto;
}

.section, .section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 32px 64px;
  gap: 32px;
  flex: 0 1 auto;
}

.section-left {
  align-items: stretch;
}

.page-divider {
  max-width: 1024px;
  height: 0px;
  border: 0.5px solid #BEC9C7;
}

.chains-image {
  max-width: 96%;
}

.fixed-width-scrollframe {
  width: 100%;
  overflow: scroll;
}

.table {
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--mid-contrast, #686666);
}

.row {
  display: flex;
  padding: 16px;
  align-items: stretch;
  gap: 32px;
  border-bottom: 1px solid var(--mid-contrast, #686666);
}

.row:last-child {
  border-bottom: none;
}

.chain-column {
  width: 110px;
}

.chain-id-column {
  width: 80px;
  text-align: center;
}

.url-column {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:hover {
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

.code-block {
  display: flex;
  padding: 16px;
  align-items: stretch;
  gap: 10px;
  border: 1px solid var(--mid-contrast, #686666);
  font-size: 14px;
  overflow: scroll;
}

pre {
  float: left;
}

@media screen and (max-width: 1135px) {

  .page-width-content {
    max-width: 100%;
    box-sizing: border-box;
  }

  .section, .section-left {
    padding: 16px;
  }

}

